# Ignore Everything
*

# Except These Files
!.gitignore
!.config/

## Hyprland Config
!.config/hypr/
!.config/hypr/**/*

## Waybar Config
!.config/warbar
!.config/warbar/**/*

## Bash Config
!.bashrc

## Fastfetch Config
!.config/fastfetch
!.config/fastfetch/**/*

## sigoden/aichat Config
!.config/aichat
!.config/aichat/**/*

## Dunst Config
!.config/dunst
!.config/dunst/**/*


## Discord (disable mandatory updates)
!.config/discord/settings.json

## List of Packages
!Hyprland-Dots-Install-AUR.txt
!Hyprland-Dots-Install.txt
