# Ignore Everything
*

# Except These Files
!.gitignore
!.config/

## Hyprland
!.config/hypr/
!.config/hypr/**/*

## Walker (app launcher)
!.config/walker
!.config/walker/**/*

## Bash Config
!.config/bashrc
!.config/bashrc/**/*
