* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: bold;    
    background: rgba(0, 0, 0,0);
}

tooltip {
    background-color: black; 
}
#tray menu{
	background-color: black;
}

#custom-hardware-wrap {
     background-color: black;
}
/* -----------------------  WORKSPACES ---------------------------- */

/* Workspace colours */
#workspaces button {color: #fff200;}               /* -> pac-dots   */
#workspaces button:nth-child(1) {color: #ff0000;}  /* -> blinky     */
#workspaces button:nth-child(3) {color: #ffb8ff;}  /* -> pinky      */
#workspaces button:nth-child(5) {color: #1793d1;}  /* -> archlinux  */
#workspaces button:nth-child(7) {color: #00ffff;}  /* -> inky       */
#workspaces button:nth-child(9) {color: #ffb852;}  /* -> clyde      */

#workspaces button.empty {color: #808080;}         /* -> empty      */

#workspaces button.active  {color: #fff200;}       /* -> pacman     */
#workspaces button.default {color: #fff200;}       /* -> default    */
#workspaces button.urgent  {color: #ff0000;}       /* -> urgent     */


